.body_container {
    margin-top: 140px;
}

.body_container .main_hdr {
    display: flex;
    /* flex-direction: column; */
}

.body_container .main_hdr i {
    color: var(--main-green);
    margin-right: 10px;
}

/* main container start */
.body_container .header {
    font-weight: 700;
    font-size: 30px;
    color: var(--main-green);
}

.body_container .sub_header {
    font-size: 13px;
}

.body_container .main_content {
    /* margin-top: 50px; */
    background: var(--main-white);
}

/* main container end */


/* main form start */

.main_form_ctr {
    margin-top: 10px;
    margin-bottom: 130px;
}

.main_form_ctr .main_form_footer {
    margin-top: 100px;
}

/* main form end */

.body_container .dashboard_hdr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(40deg, var(--main-green), #079D68);
    padding: 35px 40px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.body_container .dashboard_hdr .dashboard_display_system {
    font-size: 25px;
    color: var(--main-white);
    font-weight: 700;
    display: flex;
    align-items: center;
}

.body_container .dashboard_hdr .dashboard_display_system i {
    margin-right: 12px;
    font-size: 60px;
    color: var(--main-white);
}

.body_container .dashboard_hdr .dashboard_display_user .user_nm {
    font-weight: 600;
    color: var(--main-white);
}

.body_container .dashboard_hdr .user_badge {
    margin-left: 10px;
    font-size: 11px;
    background-color: #0d6efd;
    padding: 4px 8px;
    border-radius: 5px;
}

.body_container .dashboard_hdr .user_badge span {
    color: var(--main-white);
    font-weight: 500;
}

.body_container .dashboard_hdr .dt_time_panel {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
}

.body_container .dashboard_hdr .dt_time_panel span,
.body_container .dashboard_hdr .dt_time_panel span i {
    color: var(--main-green);
    font-weight: 500;
}

.body_container .dashboard_hdr .dt_time_panel span i {
    margin-right: 10px;
}

.body_container .dashboard_hdr .dashboard_notifs span {
    color: var(--main-white);
    font-size: 13px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 12px !important;
    margin-bottom: 20px;
}

.dashboard_card:hover,
.dashboard_card:focus {
    transform: scale(1.02);
    transition: .3s ease;
}

.card .card-header {
    font-weight: 600;
    /* background: linear-gradient(40deg, #1A235C, #6A76F0); */
    color: var(--main-white);
    font-size: 14px;
    padding: 15px 15px;
}

.gradient_green {
    background: linear-gradient(40deg, #0b3d2e, #0f625f);
}

.gradient_orange {
    background: linear-gradient(40deg, #944000, #ffaa66);
}

.gradient_red {
    background: linear-gradient(40deg, #8b0000, #ff4d4d);
}

.gradient_blue {
    background: linear-gradient(40deg, #00334d, #006699);
}

.gradient_yellow {
    background: linear-gradient(40deg, #996600, #ffe066);
}

.is_green {
    background-color: var(--main-green);
    width: 70px;
    padding: 1px 5px;
    color: var(--main-white);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.is_red {
    background-color: crimson;
    width: 70px;
    padding: 1px 5px;
    color: var(--main-white);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .card-header i {
    color: var(--main-white);
    font-size: 14px;
    margin-right: 7px;
}

.cards_ctr_hdr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards_ctr {}

.grid_ctr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
}

.nav-tabs {
    font-size: 13px;
    font-weight: 500;
}

.nav-item .active {
    font-weight: 700;
}

.facultyField {
    margin-top: 5px;
}

.facultyField .viewField_val {
    display: flex;
    align-items: center;
    background-color: crimson;
    padding: 2px 8px;
}

.facultyField .hasNoValue span {
    color: var(--main-white);
    font-size: 13px;
    font-weight: 600;
}

.statusField .viewField_val span {
    color: var(--main-orange);
    font-size: 13px;
    font-weight: 600;
}

.statusField span i {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    color: var(--main-orange);
}

.steps_in_ctr {
    font-weight: 700;
    margin-left: 50px;
}

.enrollmentStep_btns {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    gap: 10px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.main_btns {
    display: flex;
    align-items: center;
}

.enrollmentStep_btns .btn_ctr button {
    padding: 8px 30px;
    border: none;
    font-weight: 600;
    background: none;
    width: 140px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enrollmentStep_btns .btn_ctr .onClick_back {
    margin-right: 5px;
    color: var(--main-text-color);
    background-color: #dee2e6;
    opacity: .7;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.enrollmentStep_btns .btn_ctr .isAck_back {
    margin-right: 5px;
    color: var(--main-white);
    background-color: var(--main-green);
    opacity: .7;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.enrollmentStep_btns .btn_ctr .onClick_back:hover {
    opacity: 1;
    transition: .2s ease-in-out;
}

.enrollmentStep_btns .btn_ctr .isAck_back i {
    color: var(--main-white);
    margin-right: 10px;
    font-size: 25px;
}

.enrollmentStep_btns .btn_ctr .onClick_back i {
    margin-right: 10px;
    font-size: 25px;
}

.enrollmentStep_btns .btn_ctr .onClick_reset {
    margin-right: 10px;
    color: var(--main-white);
    background-color: var(--main-orange);
    opacity: .8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.enrollmentStep_btns .btn_ctr .onClick_reset i {
    margin-right: 10px;
    color: var(--main-white);
    font-size: 25px;
}

.enrollmentStep_btns .btn_ctr .onClick_next {
    color: var(--main-white);
    background-color: var(--main-blue);
    opacity: .8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.enrollmentStep_btns .btn_ctr .onClick_next i {
    color: var(--main-white);
    margin-right: 10px;
    font-size: 25px;
}

.enrollmentStep_btns .btn_ctr .onClick_reject {
    margin-right: 10px;
    color: var(--main-white);
    background-color: crimson;
    opacity: .8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.enrollmentStep_btns .btn_ctr .onClick_reject i {
    color: var(--main-white);
    margin-right: 10px;
    font-size: 25px;
}

.enrollmentStep_btns .btn_ctr .onClick_generate {
    color: var(--main-white);
    background-color: var(--main-blue);
    opacity: .8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.enrollmentStep_btns .btn_ctr .onClick_generate i {
    color: var(--main-white);
    margin-right: 10px;
    font-size: 25px;
}

.enrollmentStep_btns .btn_ctr .onClick_reset:hover,
.enrollmentStep_btns .btn_ctr .onClick_next:hover,
.enrollmentStep_btns .btn_ctr .onClick_reject:hover,
.enrollmentStep_btns .btn_ctr .onClick_generate:hover {
    opacity: 1;
    transition: .2s ease-in-out;
}

.subjects_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.reg_irreg_ctr {
    margin-top: 43px;
}

.reg_irreg_ctr select {
    margin-bottom: 10px;
}

.warning_mgs_ctr {
    display: flex;
    align-items: center;
}

.warning_mgs_ctr .warning_msg_body {
    color: var(--main-orange);
    font-weight: 500;
    padding: 3px;
    font-size: 12px;
}

.warning_mgs_ctr .warning_msg_body i {
    color: var(--main-orange);
    margin-right: 7px;
}

.back_btn {
    margin-top: 25px;
    /* margin-bottom: 10px; */
}

.back_btn button {
    border: none;
    font-size: 13px;
    padding: 5px 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-decoration: underline;
}

.back_btn button i {
    margin-right: 2px;
}

.back_btn button:hover {
    padding-left: 5px;
    transition: .2s ease-in-out;
    text-decoration: underline;
}

.bi-shield-fill-exclamation {
    color: crimson;
    margin-right: 5px;
}

.bi-arrow-right {
    color: var(--main-white);
    margin-left: 5px;
}

.bi-person-vcard-fill {
    color: var(--main-white);
    margin-right: 8px;
}

.bi-caret-right-fill {
    margin-right: 5px;
}

.bi-person-circle,
.bi-box-arrow-right {
    margin-right: 5px;
}

.groupcheckboxes_body {
    display: flex;
    flex-wrap: wrap;
    /* moves to next line if too many */
    gap: 8px;
    /* space between boxes */
}

.checkboxes_displayinrow {
    display: flex;
    align-items: center;
    margin-right: 12px;
    width: auto;
    width: 500px;
}

.with_highlight .viewField_val span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.with_highlight .viewField_val span,
.with_highlight .viewField_val span i {
    font-weight: 700;
    font-size: 13px;
    color: var(--main-green) !important;
}

.with_highlight .viewField_val span i {
    margin-right: 10px;
    margin-left: 10px;
}

.is_ack_base_ctr {
    /* border: 2px solid var(--main-green); */
    border-radius: 10px;
    padding: 40px 45px 25px 45px;
    margin-bottom: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.clickable_message_modal {
    font-size: 12px;
    color: var(--main-white);
    background-color: var(--main-green);
    padding: 5px 10px;
    opacity: .8;
    border-radius: 5px;
    width: 500px;
}

.clickable_message_modal:hover {
    cursor: pointer;
    opacity: 1;
    transition: .3s ease;
}

.message_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.message_modal_body {
    background-color: var(--main-white);
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    padding: 30px 25px 20px 25px;
    color: var(--main-green);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.message_modal_body h3 {
    text-decoration: underline;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.message_modal_body i {
    color: var(--main-green);
    margin-right: 10px;
    font-size: 35px;
}

.message_modal_body p {
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
}

.message_modal_body button {
    background: var(--main-orange);
    color: var(--main-white);
    border: none;
    float: right;
    font-size: 15px;
    margin-top: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: .8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.message_modal_body p i {
    font-size: 13px;
}

.message_modal_body button:hover {
    opacity: 1;
    transition: .3s ease;
}

.ref_no_field {
    font-weight: 700;
}

.white_line {
    white-space: pre-line;
    text-align: justify;
}

.inquirytable_ctr {
    margin-bottom: 50px;
}

.spinner-border {
    width: 1rem !important;
    height: 1rem !important;
    color: var(--main-white);
    margin-right: 10px;
}

.g-3 {
    margin-bottom: 80px;
}

.status_column {
    padding: 5px 10px;
    max-width: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}

.success_status_col {
    background-color: var(--main-green);
    color: var(--main-white);
    opacity: .7;
    border-radius: 10px;
}

.success_status_col:hover {
    opacity: 1;
}

.pending_status_col {
    background-color: var(--main-orange);
    color: var(--main-white);
    opacity: .7;
    border-radius: 10px;
}

.pending_status_col:hover {
    opacity: 1;
}

.rejected_status_col {
    background-color: crimson;
    color: var(--main-white);
    opacity: .7;
    border-radius: 10px;
}

.rejected_status_col:hover {
    opacity: 1;
}

.dashboard_quick_actions {
    margin-top: 20px;
}

.quick_actions_ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick_actions_ctr .quick_actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.quick_actions_ctr .quick_actions button {
    border: none;
    border-radius: 10px;
    font-size: 13px;
    padding: 10px;
    margin-right: 10px;
    color: var(--main-green);
}

.quick_actions_ctr .quick_actions button i {
    margin-right: 5px;
    color: var(--main-green);
}

.quick_actions_ctr .quick_actions button:hover {
    font-weight: 700;
    transition: .1s ease-in-out;
}

.dashboard_calendar {
    text-align: center;
    width: 100%;
    border: none;
}

.react-calendar {
    border: none !important;
    border-radius: 10px;
    width: 100% !important;
    padding: 10px;
    font-size: 13px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}

.react-calendar__navigation__label__labelText {
    font-weight: 700;
}

.react-calendar__tile--active {
    background: var(--main-orange) !important;
    border-radius: 8px;
}

.dashboard_img_aboutcity_ctr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dashboard_img_aboutcity_hdr {
    margin-bottom: 30px;
}

.dashboard_img_aboutcity_hdr:hover {
    text-decoration: underline;
    color: var(--main-green);
}

.dashboard_img_aboutcity_hdr i {
    color: var(--main-green);
    font-size: 35px;
    margin-right: 10px;
}

.dashboard_img_aboutcity_hdr span {
    font-weight: 700;
    font-size: 18px;
    color: var(--main-green);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: underline;
}

.img_calendar_body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.about_dasma_ctr {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    height: 100%;
}

.about_dasma_hdr {
    margin-bottom: 20px;
}

.about_dasma_hdr span {
    font-weight: 700;
    color: var(--main-green);
    display: flex;
    align-items: center;
    font-style: italic;
    text-decoration: underline;
}

.about_dasma_hdr span i {
    color: var(--main-green);
    font-size: 35px;
    margin-right: 10px;
}

.about_dasma_body span {
    font-size: 14px;
    text-align: justify;
    display: block;
    text-indent: 50px;
    padding: 0px 20px 20px 20px;
}

.show_more_btn {
    float: right;
}

.show_more_label {
    border: none;
    background-color: var(--main-green);
    text-indent: 0 !important;
    padding: 7px 10px !important;
    margin-bottom: 20px;
    opacity: .8;
    border-radius: 5px;
}

.show_more_label:hover {
    opacity: 1;
    transition: .3s ease-in-out;
}

.show_more_label a {
    color: var(--main-white);
    font-weight: 500;
    padding: 5px;
    text-decoration: none !important;
}

.res_dashboard {
    margin-top: 100px;
}