:root {
    --main-bg-white: #f5f6fa;

    --main-blue: #31487A;
    --main-blue-light: #E3EBFE;
    --main-orange: #FF9E3D;
    --main-green: #05714B;
    --main-green-dark: #023020;
    --main-green-border: #28a745;
    --main-green-light: #E7FEF6;

    --main-white: #fff;
    --main-text-color: #5C5757;

    
    --sec-blue: #0d6efd;
}