:root {
    --main-bg-white: #f5f6fa;

    --main-blue: #31487A;
    --main-blue-light: #E3EBFE;
    --main-orange: #FF9E3D;
    --main-green: #288240;
    --main-green-dark: #155724;
    --main-green-border: #28a745;

    --main-white: #fff;
    --main-text-color: #5C5757;

    
    --sec-blue: #0d6efd;
}